:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --third-title-color: #757575;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --acsent-color: #2196f3;
  --header-text-color: #212121;
  --icon-color: #afb1b8;
}

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}
input {
  padding: 0px;
  margin: 0px;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}
.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  margin: 0 auto;
  padding-top: 47px;
  padding-bottom: 47px;
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: var(--secondary-title-color);
}

/*----Header-----*/

.header {
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
  margin-right: 93px;
}
.color-logo {
  color: #2196f3;
}

.conteiner-head {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-cont:not(:last-child) {
  margin-right: 50px;
}

.header-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--header-text-color);
  padding-bottom: 32px;
  padding-top: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-list .link.current {
  color: var(--acsent-color);
}
.current::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--acsent-color);
}

.header-link:hover,
.header-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--acsent-color);
}
.header-contacts-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contacts-link:hover .header-cont-icon,
.header-contacts-link:focus .header-cont-icon {
  fill: var(--acsent-color);
}

.header-link:active .header-link:visited {
  color: #b4f321;
}

.header-contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--third-title-color);
  padding-bottom: 32px;
  padding-top: 32px;
}
.header-cont-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--third-title-color);
}
.header-cont-tel {
  width: 10px;
  height: 16px;
}

/*----Hero-----*/
.hero {
  background-color: #2f303a;
  height: 600px;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url('../image/img-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 30px;
}

.btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: var(--acsent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-btn {
  margin: 0 auto;
  border: none;
}

.hero-btn:hover,
.btn:hover {
  background: #188ce8;
}

/*----Feature-----*/
.feature {
  padding-top: 94px;
}
.feature-list {
  display: flex;
  margin-left: -30px;
}
.feature-item {
  /* flex-basis: calc(100% / 4 - 30px); */
  margin-left: 30px;
}
.feature-icon-fon {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.feature-icon {
  width: 70px;
  height: 70px;
  /* align-items: center; */
}

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}

.feature-item-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
  width: 270px;
  padding-top: 10px;
}
.inv {
  display: none;
}
/*----About-----*/
.about {
  padding-bottom: 94px;
}

.secondary-title {
  padding-bottom: 50px;
}
.about-list {
  display: flex;
  margin-left: -30px;
}
.about-item {
  position: relative;

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.about-specialization {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.about-specialization-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-title-color);
}
/*----Team-----*/
.team {
  background-color: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.team-list {
  display: flex;
  margin-left: -30px;
}

.team-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list-conteiner {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}
.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}
.team-sotial-link {
  display: flex;
  margin-left: -10px;
  justify-content: center;
  width: 270px;
}

.sotial-item {
  width: 44px;
  height: 44px;
}

.social-link {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sotial-item + .sotial-item {
  margin-left: 10px;
}
.social-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--acsent-color);
}
.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

/*----Regular customers-----*/
.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-item + .customers-item {
  margin-left: 30px;
}
.customer-icon {
  width: 106px;
  height: 60px;
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--acsent-color);
  border: 1px solid var(--acsent-color);
}

/*----Footer-----*/
footer {
  background-color: #2f303a;
}
address a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}
address {
  width: 231px;
}

.foot {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-conteiner {
  display: flex;
}

.footer-nav {
  display: flex;
  flex-direction: column;
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}
.adress-list > li:not(:last-child) {
  margin-bottom: 9px;
}

.adress-city {
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress-link:hover,
.adress-link:focus {
  color: var(--acsent-color);
}

.footer-logo {
  color: var(--primary-title-color);
}
.our-links-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}
.links {
  margin-left: 70px;
  padding-top: 12px;
}
.our-sotial-list {
  display: flex;
  justify-content: center;
}
.our-sotial-icon {
  fill: #ffffff;
}

.our-sotial-link {
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-form {
  display: flex;
}

.footer-form-input {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 16px 15px;
  margin-top: 20px;
  background-color: rgba(47, 48, 58, 1);
}

.footer-form-btn {
  padding-top: 12px;
  margin-left: 93px;
  width: 570px;
}

.footer-btn-tumb {
  position: relative;

  border: 0px;
  margin-left: 12px;
  height: 50px;
  padding-top: 35px;
}

.btn-footer {
  position: relative;
  border: none;
}

.footer-btn-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: #ffffff;
}
/*----Portfolio-----*/

.categories {
  padding-top: 94px;
}
.categories-list {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.categories-item {
  margin-left: 8px;
}

.categories-btn {
  border-radius: 4px;
  background-color: #f5f4fa;

  columns: var(--secondary-title-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  border: 0px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.categories-btn-acsent:hover,
.categories-btn-acsent:focus {
  background-color: var(--acsent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.categories-projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects-list {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-list:hover,
.projects-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-link-conteiner {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border: 1px solid #eeeeee;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
  margin-bottom: 4px;
}
.projects-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}
.projects-link:hover .projects-fon {
  transform: translateY(0%);
  /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.project-box {
  position: relative;
  overflow: hidden;
}

.projects-fon {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-fon-text {
  font-size: 18px;
  line-height: 1.56;
  color: var(--primary-title-color);
  padding-left: 24px;
  padding-right: 24px;
}

/*-----Modal-window----*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden-modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-icon-close {
  width: 18px;
  height: 18px;
  fill: black;
}

.input-image {
  margin-bottom: 10px;
}

.input-position-name {
  position: relative;
  margin-top: 4px;
}

.input-icon-name {
  position: absolute;
  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;
  fill: black;

  transform: translateY(-50%);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-position-tel {
  position: relative;
  margin-top: 4px;
}
.input-position-email {
  position: relative;
  margin-top: 4px;
}

.modal-icon-close:hover {
  fill: var(--acsent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 12px;
}

.input-name {
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);
  letter-spacing: 0.01em;
}
.form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: 1px solid var(--acsent-color);
}

.form-input:focus + .input-icon-name {
  fill: var(--acsent-color);
}

textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea:focus {
  border: 1px solid var(--acsent-color);
}

.form-text {
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}
.box-btn-form {
  display: flex;
  flex-direction: column;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.check-icon-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon-text span {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid #212121;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}
.check-icon {
  fill: transparent;
}

.link-contract {
  color: var(--acsent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.checkbox:checked + .check-icon-text span {
  background-color: var(--acsent-color);
  border: none;
}

.checkbox:checked + .check-icon-text .check-icon {
  fill: #ffffff;
}

/* .checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-origin: border-box;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1); }*/

.checkbox-btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

/*-- Альтернативный чекбокс---*/

/* .modal-check-text {
  font-size: 14px;
  color: var(--primary-text-color);
  display: flex;
  position: relative;
  align-items: center;
}

.modal-check-text::before {
  content: '';
  width: 40px;
  height: 22px;
  border: 1px solid #afb1b8;
  border-radius: 10px;
  margin-right: 7px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check-text::after {
  content: '';
  width: 18px;
  height: 18px;
  position: absolute;
  left: 2px;
  right: 2px;
  background-color: #afb1b8;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:checked + .modal-check-text::after {
  transform: translateX(18px);
  background-color: #b4f321;
}

.modal-check:checked + .modal-check-text::before {
  background-color: #757575;
} */
