.about {
  padding-bottom: 94px;
}

.about-list {
  display: flex;
  margin-left: -30px;
}
.about-list__item {
  position: relative;

  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}

.about-list__specialization {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
