.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.customers-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customers-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--acsent-color);
    border: 1px solid var(--acsent-color);
  }
}

.customers-item + .customers-item {
  margin-left: 30px;
}

.customer-icon {
  width: 106px;
  height: 60px;
}
