.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden-modal {
  transform: translate(-50%, -50%) scale(0.9);
}

// modal

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  box-sizing: border-box;
  padding: 40px;
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__title {
  font-weight: 700px;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 12px;
}

.input-box {
  margin-bottom: 10px;
}

.input-name {
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);
  letter-spacing: 0.01em;
}

.input-name__position {
  position: relative;
  margin-top: 4px;
}

.input-name__size {
  width: 100%;
  height: 40px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & :focus {
    border: 1px solid var(--acsent-color);
  }
}

.input-name__size:focus + .input-name__icon {
  fill: var(--acsent-color);
}

.input-name__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;
  fill: black;

  transform: translateY(-50%);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
  &:focus {
    border: 1px solid var(--acsent-color);
  }
}

.textarea-box__text {
  width: 100%;
  height: 120px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  resize: none;
  margin-top: 4px;
  margin-bottom: 20px;

  // color: tomato;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.box-btn {
  display: flex;
  flex-direction: column;
}

.checkbox__icon {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

.checkbox__icon {
  .checkbox__icon-box {
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border: 2px solid #212121;
    border-radius: 2px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.checkbox__icon-check {
  fill: transparent;
}

.checkbox__link-contract {
  color: var(--acsent-color);
  text-decoration: underline;
  margin-left: 5px;
}

.checkbox:checked + .checkbox__icon span {
  background-color: var(--acsent-color);
  border: none;
}

.checkbox:checked + .checkbox__icon .checkbox__icon-check {
  fill: #ffffff;
}

.checkbox__btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn__close {
  width: 18px;
  height: 18px;
  fill: black;
  & :hover {
    fill: var(--acsent-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
